{% extends "base.html" %}
{% load static %}

{% block content %}
<form class="m-3" action="{% url 'rides:index' %}" method="get">
    {{ form }}
    <input type="submit" value="Submit" onclick="return checkForm()">
</form>

<div class="main">
  <div class="d-flex">
    <div class="col-2">
      <div>
        <a href="https://www.mcdonalds.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'mcdonalds.jpg' %}" width="200"></a>
      </div>
    </div>
    
    <div class="col-8">
      {% if inputExists %}
    <table id="example" class="table table-striped table-bordered m-4">
      <thead class="bg-primary text-white">
          <tr>
              <th>First Name</th>
              <th>Origination</th>
              <th>Destination</th>
              <th>State</th>
              <th>Date</th>
              <th>Time</th>
              <th>Taking Passenegers?</th>
              <th>Seats Available</th>
          </tr>
      </thead>
      <tbody>
          {% for person in people %}
        <tr>
            <td>{{ person.first_name }}</td> 
            <td>{{ person.origination }}</td>
            <td>{{ person.destination_city }}</td> 
            <td>{{ person.destination_state }}</td> 
            <td>{{ person.date }}</td> 
            <td>{{ person.time }}</td> 
            <td>{{ person.taking_passengers }}</td>
            <td>{{ person.seats_available }}</td> 
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    {% endif %}
    </div>

    <div class="col-2">
      <div>
        <a href="http://www.luciopizza.com" target="_blank" rel="noopener noreferrer"><img src="{% static 'lucios-pizza.png' %}"></a>
      </div>
    </div>
  </div>  
  </div>

{% endblock %}